/* ToDo */

@font-face {
    font-weight: normal;
    font-family: "Blogger Sans";
    font-style: normal;
    src: url("../fonts/Blogger_Sans-Bold.otf") format("opentype");
}

@font-face {
    font-weight: bold;
    font-family: "Blogger Sans";
    font-style: normal;
    src: url("../fonts/Blogger_Sans-Bold.otf") format("opentype");
}

@font-face {
    font-weight: lighter;
    font-family: "Blogger Sans";
    font-style: normal;
    src: url("../fonts/Blogger_Sans-Light.otf") format("opentype");
}

body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-family: "Blogger Sans", Arial, sans-serif;
    font-style: normal;
    color: black;
    text-transform: uppercase;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    outline: none;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style-type: none;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

.page-header {
    display: flex;
    background-color: #fff;
    width: 100%;
}

.page-header__logo .logo__image {
    padding-top: 28px;
}

.main-nav {
    display: flex;
    justify-content: space-around;
    min-height: 120px;
    background-color: #fff;
    max-width: 1170px;
    margin: 0 auto;
}

.main-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 0;
    max-width: 620px;
    margin: 0;
}

.site-list__item {
    font-size: 16px;
    max-width: 130px;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
}

.site-list__link:hover, .site-list__link:focus {
    color: #4ab13b;
}

.site-list__link:active {
    color: #88c43f;
}

.site-list__item--active {
    background: linear-gradient(to bottom, #e5f2d4, #ffffff);
}

.page-header__contact-us {
    max-width: 178px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.site-list__link {
    text-decoration: none;
    color: black;
}

.page-header__contact-us--phone {
    font-size: 20px;
    font-weight: normal;
    color: #5cbc16;
    letter-spacing: 1px;
}

.page-header__contact-us--order-button {
    width: 175px;
    height: 40px;
    color: #ffffff;
    background-color: #5cbc16;
    background: linear-gradient(to bottom, #88c43f, #4ab13b);
    font-family: "Blogger Sans", Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    border-radius: 30px;
    text-transform: uppercase;
    margin-top: 7px;
    border: none;
    position: relative;
}

.page-header__contact-us--order-button:hover, .page-header__contact-us--order-button:focus, .form__button:hover, .form__button:focus, .page-footer__contact-us--order-button:hover, .page-footer__contact-us--order-button:focus {
    background: linear-gradient(to top, #88c43f, #4ab13b);
}

.page-header__contact-us--order-button:active, .form__button:active, .page-footer__contact-us--order-button:active {
    color: #e5f2d4;
}

.page-main__title {
    height: 330px;
    background-image: url(../img/header_pic.jpg);
    background-repeat: no-repeat;
    color: white;
    font-size: 70px;
    font-family: "Blogger Sans", Arial, sans-serif;
    text-transform: initial;
    font-weight: normal;
    padding-left: 375px;
    margin: 0;
    padding-top: 320px;
    margin-top: -120px;
}

.page-main__promo {
    max-width: 1170px;
    margin: 0 auto;
}

.promo__title {
    font-size: 36px;
    font-weight: bold;
}

.promo__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}

.promo__item {
    min-width: 269px;
    margin-bottom: 27px;
}

.page-main__form {
    background-image: url(../img/green-background-1.jpg);
    background-size: cover;
    min-height: 245px;
    color: white;
}

.form__wrapper, .form__title {
    max-width: 1170px;
    margin: 0 auto;
}

.form__title {
    font-size: 36px;
    padding-top: 45px;
}

.form__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.form__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin-top: 20px;
}

.form__item--label input {
    width: 261px;
    height: 41px;
    outline: none;
    border: none;
    border-radius: 3px;
    font-family: "Blogger Sans", Arial, sans-serif;
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
    color: rgba(73, 74, 76, .8);
}

.form__item--label input:hover, .form__item--label input:focus {
    box-shadow: inset 0 0 10px #5cbc16;
}

.form__button {
    width: 200px;
    height: 40px;
    color: #ffffff;
    background-color: #5cbc16;
    background: linear-gradient(to bottom, #88c43f, #4ab13b);
    font-family: "Blogger Sans", Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 40px;
    border-radius: 30px;
    text-transform: uppercase;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 25px;
    border: none;
}

.best-prices {
    max-width: 1170px;
    margin: 0 auto;
}

/* .best-prices__list:before {
    content: "";
    background: url(../img/left-arrow.png);
    background-repeat: no-repeat;
    height: 45px;
    width: 100%;
    display: block;
    position: absolute;
    top: 73px;
    left: -62px;
} */

.best-prices__title {
    font-size: 36px;
    margin-top: 50px;
}

.best-prices__list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}


/* 
.best-prices__list:before {
    content: "";
    background: url(../img/left-arrow.png);
    background-repeat: no-repeat;
    height: 45px;
    width: 100%;
    display: block;
    position: absolute;
    top: 73px;
    left: -52px;
}

.best-prices__list:after {
    content: "";
    background: url(../img/right-arrow.png);
    background-repeat: no-repeat;
    height: 45px;
    width: 100%;
    display: block;
    position: absolute;
    top: 73px;
    left: 1200px;
} */

.best-prices__item:hover {
    opacity: 0.5;
    cursor: zoom-in;
}

.page-main__video {
    margin-top: 90px;
}

.video__file {
    width: 100%;
    height: auto;
}

.page-main__advantages {
    background: url(../img/green-background-2.jpg);
    background-size: cover;
    min-height: 470px;
    color: #fff;
}

.advantages__wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.advantages__title {
    font-size: 36px;
    padding-top: 50px;
    margin: 0;
    margin-top: -15px;
}

.advantages__list {
    padding-left: 70px;
    padding-bottom: 84px;
}

.advantages__item {
    font-size: 18px;
    text-transform: initial;
    padding-top: 60px;
    position: relative;
}

.advantages__item:first-child {
    max-width: 487px;
}

.advantages__item:first-child:before {
    content: "";
    background: url(../img/01..png);
    background-repeat: no-repeat;
    height: 30px;
    width: 100%;
    display: block;
    position: absolute;
    top: 63px;
    left: -65px;
}

.advantages__item:nth-child(2) {
    max-width: 530px;
}

.advantages__item:nth-child(3) {
    max-width: 575px;
}

.advantages__item:nth-child(2):before {
    content: "";
    background: url(../img/02..png);
    background-repeat: no-repeat;
    height: 30px;
    width: 100%;
    display: block;
    position: absolute;
    top: 63px;
    left: -65px;
}

.advantages__item:nth-child(3):before {
    content: "";
    background: url(../img/03..png);
    background-repeat: no-repeat;
    height: 30px;
    width: 100%;
    display: block;
    position: absolute;
    top: 63px;
    left: -65px;
}

.advantages__number {
    opacity: 0.7;
}

.page-main__partners {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 23px;
    padding-bottom: 0;
}

.partners__title {
    font-size: 36px;
}

.partners__list {
    padding-top: 68px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 880px;
    margin: 0 auto;
}

.partners__item {
    width: 33%;
    padding-bottom: 120px;
}

.partner__image--uukzhsi {
    margin-top: -10px;
}

.partner__image--chelinvest {
    margin-top: -25px;
}

.page-main__map {
    background: url(../img/map.jpg);
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-footer__wrapper {
    display: flex;
    justify-content: space-around;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 50px;
}

.page-footer__logo {
    padding-top: 67px;
}

.page-footer__contact-us--order-button {
    width: 414px;
    height: 97px;
    color: #ffffff;
    background-color: #5cbc16;
    background: linear-gradient(to bottom, #88c43f, #4ab13b);
    font-family: "Blogger Sans", Arial, sans-serif;
    font-size: 42px;
    font-weight: normal;
    border-radius: 50px;
    text-transform: uppercase;
    margin-top: -47px;
    border: none;
}

.page-footer__contact-us--phone {
    font-size: 30px;
    padding-top: 50px;
    color: #5cbc16;
    text-align: center;
}

.page-footer__copyright {
    max-width: 215px;
    font-size: 14px;
    opacity: 0.7;
    text-transform: initial;
    padding-top: 63px;
}

.modal {
    position: absolute;
    color: #000000;
    width: 370px;
    height: 420px;
    background-color: white;
    -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  }
  
  .modal-form {
    display: none;
    left: 36%;
    top: 130px;
  }

  .modal-thanks {
    display: none;
    left: 36%;
    top: 200px;
  }

  .modal-show {
    display: block;
  }


@media (max-width: 768px) {
    .main-nav {
        flex-direction: column;
        align-items: center;
    }
    .partners__item {
        width: 45%;
        padding-bottom: 50px;
    }
    .page-footer__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .page-footer__contact-us--order-button {
        margin-top: 20px;
    }
}

@media (max-width: 400px) {
    .main-nav__list {
        flex-direction: column;
    }
    .site-list__item {
        height: 20px;
        min-width: 400px;
        padding-top: 10px;
        text-align: center;
    }
    .partners__list {
        flex-direction: column;
    }
}